.calendarBg {
    height: fit-content;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #1b1b1b 74%);
}

.calendarWrapper {
    background-color: black;
    border-radius: 5px;
    padding: 15px;
    width: 1075px;
    height: 2000px;
    margin: 0 auto;
    align-items: center;
  }
  
  .calendargrid {
    display: grid;
    grid-template-columns: 140px 140px 140px 140px 140px 140px 140px;
    grid-gap: 10px;
    background-color: black;
    color: #444;
    gap: 10px;
    margin: 0 auto;
    padding: 15px;
    
  }
  
  .title {
    font-size: 2em;
    font-weight: bold;
    display: block;
    color: #faed26;
  }
  
  .prevNext {
    font-size: 1em;
    display: block;
    font-weight: bold;
    color: #faed26;
    text-align: center;
  }
  
  .day,
  .today,
  .weekDay,
  .dayOutsideMonth {
    border: 1px solid #faed26;
    text-align: right;
    vertical-align: top;
    border-radius: 5px;
    height: 195px;
    color: #faed26;
    padding: 5px;
  }
  
  .day {
    background-color: black;
  }
  
  .today {
    background-color: #5a5560;
    color: #faed26;
    font-weight: bold;
    border: 0;
  }
  
  .dayOutsideMonth {
    background-color: black;
    border: 1px solid #5a5560;
    
  }
  
  .weekDay {
    border: 1px solid #46344e;
    background-color: #5a5560;
    color: #faed26;
    font-size: 1.3em;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    border: 0;
  }
  
  .calendarTitle {
    border: 0px;
    text-align: center;
    vertical-align: middle;
    grid-column: 2 / 7;
    height: 100px;
    line-height: 100px;
  }
  
  .calendarPrevNext {
    border: 0px;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
  }
  
  .calendarEventList{
    list-style-type: none;
    font-size: small;
    text-align: left;
  }
  
  .calendarLi {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    max-width: 17ch;
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .calendarLi:last-child {
   margin-bottom: 0px;
  }
  
  .fullday {
    margin: 0;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate( -50%);
    background-color: #5a5560;
    color: #faed26;
    font-weight: bold;
    border: 1px solid #faed26;
    border-radius: 5px;
    /* width: 600px; */
    /* height: 80%; */
    padding: 20px;
    min-width: 300px;
  }
  
  
  
  .fullEventList{
    list-style-type: none;
    font-size: medium;
    text-align: left;
  }
  
  .calendarLi.fullListItem {
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: unset;
    max-width: none;
  }

  .calendarButton{
    background-color: #9D8D8F;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
    margin: 5px;
  }

  #closeFullDay {
    color: #fff;
    font-size: 30px;
    margin: 15px;
    position: absolute;
    cursor: pointer;
    transition: ease-in-out color .5s;
    right: 0;
    top: 0;
  }

