

.HomePage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #1b1b1b 74%);
    height: 100%;
}

.homeBg {
    height: fit-content;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #1b1b1b 74%);
}

.topContainer {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 6;
}

.topBar {
    position: relative;
    height: 50px;
    border-bottom: 2px solid #FAED26;
    background: #222222;
    overflow: hidden;
    width: 100%;
}

.linkContainer {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.topBarLink {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: ease-in;
    text-align: center;
    margin-inline: 55px;
    transition: color .7s ease-in-out;
}

.topBarLink:hover {
    color: #FAED26;
}

#notifications {
    position: relative;
    top: 10px;
    float: left;
}

.currentIcon {
    color: #FAED26;
}

.myEvents {
    position: relative;
    clear: both;
    display: block;
    margin-left: 55px;
}

.nearbyEvents {
    clear: both;
    position: relative;
    display: block;
    margin-left: 55px;
    z-index: 0;
}

#eventsHeader {
    font-size: 35px;
    color: #FAED26;
}

#postContainer {
    float: left;
    margin-left: 15px;
    margin-bottom: 50px;
}

#postButton {
    background-color: #222222;
    margin-top: 10px;
    border: 1px solid #FAED26;
    height: 175px;
    width: 175px;
    border-radius: 10px;
    font-size: 35px;
    cursor: pointer;
    color: #FAED26;
}

.vl {
    border-right: 2px solid #FAED26;
    height: 180px;
    float: left;
    margin-top: 7.5px;
    margin-left: 15px;
}

.eventItem {
    height: 175px;
    width: 175px;
    border-radius: 10px;
    border: 1px solid #FAED26;
    float: left;
    list-style: none;
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
    background-color: #222222;
    cursor: pointer;
}

.iconContainer {
    position: relative;
}

.itemSubheader {
    display: inline;
}

.catText {
    color: #FAED26;
    font-size: 20px;
    display: block;
    text-transform: capitalize;
    margin-top: 7.5px;
}

.categoryIcon {
    color: #FAED26;
    font-size: 120px;
    margin: 0;
    text-align: center;
    display: block;
    margin-left: 20%;
    margin-top: 10px;
}

#feed {
    position: relative;
    left: 35px;
    font-size: 35px;
}

#ongoing {
    font-size: 35px;
    color: #FAED26;
}

#ongoing-Events {
    z-index: 0;
}

.notification-box {
    display: none;
}

.notification-active {
    display: block;
    background-color: white;
    border: 5px solid #FAED26;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* position: absolute; */
    position: fixed;
    width: 250px;
    top: 52px;
    z-index: 1;
    float: right;
    left: 40px;
    box-shadow: 0 4px 15px 0  black;
}

#userBarHead {
    font-size: 20px;
}

.searchBar {
    clear: both;
    font-size: 20px;
    border: 1px solid black;
    position: relative;
    display: block;
}

#searchIcon {
    position: relative;
    float: right;
}

.searchContainer {
    clear: both;
    text-align: center;
    width: 100%;
}

#searchInput {
    border-radius: 25px;
    border: 2px solid black;
    margin-top: 10px;
    width: 25%;
}

.eventList {
    float: right;
    width: 75%;
    margin-right: 7.5%;
    background-color: #000;
    background-image: linear-gradient(
        315deg, #555555 0%,
        #858585 74%
    );
    padding-bottom: 20px;
    border-radius: 25px;
    position: relative;
}

.refreshButton {
    background: none;
    color: #fff;
    border:none;
    font-size: 40px;
    cursor: pointer;
    margin: 10px;
    transition: .7s ease-in-out;
}

.refreshButton:hover {
    color: #FAED26;
}

.position {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.eventForm {
    width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000000;
    background-image: linear-gradient(
        315deg, #555555 0%,
        #858585 74%
    );
    border-radius: 40px;
    box-shadow: 0 4px 15px 0  rgba(0, 0, 0, .25);
    z-index: 2;
}

.eventPostContainer {
    position: relative;
}

.eventError {
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: 10px;
}


#calInput {
    text-align: center;
    cursor: pointer;
}

#eventFormHead {
    color: white;
    padding: 15px;
    margin-top: 10px;
    display: block;
    text-align: center;
    z-index: 3;
}

.eventCatBtn {
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, .55);
    margin-inline: 10px;
    width: 175px;
    cursor: pointer;
    transition: .7s ease-in-out;
}

.eventCatBtn:hover {
    background-color: #FAED26;
    color: #000;
}

.eventCatBtn::after {
    background-color: #FAED26;
    color: #000;
}

#submitEvent {
    margin-top: 30px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
    width: 150px;
    margin-inline: 10px;
    cursor: pointer;
    text-align: center;
}

.separator {
    color: white;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

.userBtnContainer {
    text-align: center;
}

.userBtns {
    border: none;
    margin-inline: 15px;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

/*#submitEvent {

    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#submitEvent:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#submitEvent {
    outline: none;
}
  
#submitEvent {
    background-image: linear-gradient(
        to right,
        #46344E,
        #5A5560,
        #9D8D8F,
        #9B786F
    );
    box-shadow: 0 4px 15px 0  rgba(0, 0, 0, .25);
}*/

.add-active {
    clear: both;
}

#closeForm {
    color: #fff;
    font-size: 30px;
    margin: 30px;
    position: absolute;
    cursor: pointer;
    transition: ease-in-out color .5s;
    right: 0;
}

#closeForm:hover {
    color: #FAED26;
}

#closeFormNearby {
    color: #fff;
    font-size: 30px;
    margin: 12.5px;
    position: absolute;
    cursor: pointer;
    transition: ease-in-out color .5s;
    right: 0;
}

#closeFormNearby:hover {
    color: #FAED26;
}

.customBtns {
    padding: 10px;
    font-size: 20px;
    width: 100px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-inline: 10px;
    font-weight: 700;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
    margin: 25px;
}

.customBtns:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.customBtns {
    background-image: linear-gradient(
        to right,
        #46344E,
        #5A5560,
        #9D8D8F,
        #9B786F
    );
    box-shadow: 0 4px 15px 0  rgba(0, 0, 0, .25);
}

#submitEvent {

    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#submitEvent:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#submitEvent {
    outline: none;
}
  
#submitEvent {
    background-image: linear-gradient(
        to right,
        #46344E,
        #5A5560,
        #9D8D8F,
        #9B786F
    );
    box-shadow: 0 4px 15px 0  rgba(0, 0, 0, .25);
}

#timeh1 {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.eventFormLabel {
    color: #fff;
    font-weight: 700;
    text-align: center;
    position: relative;
    width: 35%;
}

#inputContainer {
    margin-left: 30px;
}

#catLabel {
    text-align: center;
    top: 10px;
}

.submitContainer {
    text-align: center;
}

.addEventCategories {
    text-align: center;
}

.addEvent {
    z-index: 2;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
}

.editEvent {
    z-index: 2;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
}

#caret {
    margin-inline: 5px;
}

.form-header {
    font-size: 35px;
    text-align: center;
    color: white;
    padding: 25px;
}

#options-list {
    margin: 5px;
    padding: 5px;
    width: 250px;
    font-size: 16px;
    background-color: tomato;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.label {
    /* display: inline-block; */
    /* width: 350px; */
    /* text-align: right; */
    margin: 5px;
    width: max-content;
    color: white;
}

#comment-box {
    resize: none;
    width: 75%;
    margin-left: 12.5%;
}

.addressResults {
    font-size: 15px;
    list-style: none;
    background-color: #fff;
    color: black;
    padding: 5px;
    border: 1px solid black;
    position: relative;
    width: 74%;
    margin-left: 10px;
    border-radius: 5px;
}

.addressUl {
    margin-bottom: 5px;
    margin-top: -10px;
    position: absolute;
    z-index: 3;
}

.categoryList {
    display: block;
    clear: both;
    width: 75%;
    text-align: center;
    background-color: #000000;
    background-image: linear-gradient(
        315deg, #555555 0%,
        #858585 74%
    );
    border-radius: 25px;
}

.listHeader {
    color: #fff;
    text-transform: capitalize;
    padding: 10px;
}

.catEventList {
    padding-bottom: 30px;
}

.catEventItem {
    list-style: none;
    color: white;
    text-align: center;
    border: 1px solid rgb(56, 56, 56);
    background-color: #000;
}

.listInfo {
    position: relative;
}

.itemTitle {
    text-align: center;
}

.itemCreator {
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
}

.myEventsIcon {
    color: #FAED26;
    padding-right: 10px;
}

.likeIcon {
    right: 0;
    margin: 10px;
    position: absolute;
    font-size: 25px;
    transition: .7s ease-in-out;
    cursor: pointer;
}
.likeIcon:hover {
    color: rgb(192, 0, 0);
}

.likeIconMyEvents {
    right: 0;
    margin: 10px;
    position: absolute;
    font-size: 25px;
    transition: .7s ease-in-out;
    cursor: pointer;
    color:rgb(192, 0, 0)
}

#categoryContainer {
    position: relative;
}