body {
    padding: 0;
    margin: 0;
}

.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info {
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid  tomato;
    margin: 3px 0;
}

.desc {
    font-size: 14px;
}

.star {
    color: gold;
}

.username {
    font-size: 14px;
}

.date {
    font-size: 12px;
}

.addEvent-form {
    width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 .mapboxgl-popup-close-button {
     font-size: 40px;
     width: 40px;
 }

.form-header {
    font-size: 35px;
    text-align: center;
    color: black;
}

.label {
    /* display: inline-block; */
    /* width: 350px; */
    /* text-align: right; */
    margin: 5px;
    width: max-content;
    
}

/* .input-field {
    border: none;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
} */

input[type="text"] {
    padding: 10px;
    margin: 10px;
}

#name-label {
    position: relative;
    top: -15px;
    /* width: 320px; */
    color: black;
}

#name-input {
    position: relative;
    left: 0px;
    width: 300px;
    font-size: 17px;
}

#cat-label {
    /* width: 158px; */
    /* float: left; */
    position: relative;
    top: -30px;
    width: 350px;
    color: black;
}

#options-list {
    margin: 5px;
    padding: 5px;
    width: 250px;
    font-size: 16px;
    background-color: #FAED26;
    border: none;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    cursor: pointer;
}

#add-label {
    position: relative;
    top: -40px;
    color: black;
}

#add-input {
    font-size: 17px;
    width: 300px;
}

#startTime-label {
    position: relative;
    top: -55px;
    margin: 5px;
    color: black;
}

#endTime-label {
    position: relative;
    top: -55px;
    color: black;
}

.time {
    padding: 5px;
    position: relative;
    left: 0px;
    margin: 1px;
    width: 90px;
    background-color: #FAED26;
    border: none;
}

#desc-label {
    position: relative;
    top: -55px;
    color: black;
}

#comment-box {
    position: relative;
    top: -55px;
    font-size: 15px;
}

#cap-label {
    position: relative;
    top: -55px;
    color: black;
}

#cap-input {
    margin: 5px;
    padding: 5px;
    width: 45px;
}

#submit-btn {
    height: 60px;
    background-color: #FAED26;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.result-label {
    border-bottom: .5px solid #FAED26;
    width: 350px;
    font-size: 20px;
    margin: 3px 0;
    /* color: #FAED26; */
}

.res-btn {
    width: 100px;
    height: 50px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#likes-btn {
    background-color: #FAED26;
}

#likes-btn:hover {
    transition: .5s;
    background-color: #cfc31cfa;
}

#delete-btn {
    background-color: #FAED26;
}

#delete-btn:hover {
    transition: .5s;
    background-color: #cfc31cfa;
}

.addressUl {
    margin-bottom: 5px;
    margin-top: -10px;
    position: absolute;
    z-index: 3;
}

#test {
    color: red;
    background-color: black;
    font-size: 42px;
}
