body {
    padding: 0;
    margin: 0;
}

.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info {
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid  tomato;
    margin: 3px 0;
}

.desc {
    font-size: 14px;
}

.star {
    color: gold;
}

.username {
    font-size: 14px;
}

.date {
    font-size: 12px;
}

#new-event {
    background-color: #5a5560;
}

.addEvent-form {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 30px;
}

.display-form {
    width: 450px;
    height: 680px;
    /* background-color: #5a5560; */
}

#submit-btn {
    height: 70px;
    background-color: #FAED26;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    top: -50px;
    margin: 10px;
}

.mapboxgl-popup-close-button {
     font-size: 40px;
     width: 40px;
 }

.form-header {
    margin: 0px;
    font-size: 35px;
    text-align: center;
    color: black;
}

.label {
    margin: 5px;
    width: max-content;
    
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
}

#name-label {
    position: relative;
    top: -15px;
    /* width: 320px; */
    color: black;
}

#name-input {
    position: relative;
    left: 0px;
    width: 300px;
    font-size: 17px;
}

#cat-label {
    /* width: 158px; */
    /* float: left; */
    position: relative;
    top: -30px;
    width: 350px;
    color: black;
}

#options-list {
    margin: 5px;
    padding: 5px;
    width: 250px;
    font-size: 16px;
    background-color: #FAED26;
    border: none;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    cursor: pointer;
}

#add-label {
    position: relative;
    top: -40px;
    color: black;
}

#add-input {
    font-size: 17px;
    width: 300px;
}

#startTime-label {
    position: relative;
    top: -55px;
    margin: 5px;
    color: black;
}

#endTime-label {
    position: relative;
    top: -55px;
    color: black;
}

.time {
    padding: 5px;
    position: relative;
    left: 0px;
    margin: 1px;
    width: 90px;
    background-color: #FAED26;
    border: none;
    cursor: pointer;
}

#desc-label {
    position: relative;
    top: -55px;
    color: black;
}

#comment-box {
    position: relative;
    top: -80px;
    font-size: 15px;
}

#cap-label {
    position: relative;
    top: -75px;
    color: black;
}

#cap-input {
    margin: 5px;
    padding: 5px;
    width: 45px;
}

/* #submit-btn {
    height: 60px;
    background-color: #FAED26;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    top: 20px;
    margin: 10px;
} */

#submit-btn:hover {
    transition: .5s;
    background-color: #cfc31cfa;
}

.edit-btns {
    height: 60px;
    background-color: #FAED26;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin: 3px;
    position: relative;
    top: -65px;
}

.edit-btns:hover {
    transition: .5s;
    background-color: #cfc31cfa;
}

#edit-title {
    position: relative;
    top: -15px;
}

.result-label {
    border-bottom: .5px solid #FAED26;
    width: max-content;
    font-size: 20px;
    margin: 3px 0;
    /* color: #FAED26; */
}

#createdBy {
    position: relative;
    top: -30px;
    
}

#event-createdBy {
    position: relative;
    top: -30px;
}

#display-desc {
    width: 400px;
    height: 100px;
    overflow: auto;
}

#display-desc:hover {
    cursor: auto;
}

.event-details {
    margin: 10px 0;
}

.res-btn {
    width: 100px;
    height: 50px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    /* margin: 0 auto; */
    display: inline;
    position: relative;
    top: 5px;
    font-size: 17px;
}

#likes-btn {
    background-color: #FAED26;
}

#likes-btn:hover {
    transition: .5s;
    background-color: #cfc31cfa;
}

#delete-btn {
    background-color: #FAED26;
    left: 150px;
}

#delete-btn:hover {
    transition: .5s;
    background-color: #cfc31cfa;
}

#edit-btn {
    background-color: #FAED26;
    left: 140px;
}

#edit-btn:hover {
    transition: .5s;
    background-color: #cfc31cfa;
}

.addressUl {
    margin-bottom: 5px;
    margin-top: -10px;
    position: absolute;
    z-index: 3;
}

#test {
    color: red;
    background-color: black;
    font-size: 42px;
}

