.settings {
    background: url(../img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.settings-form {
    /* background-color: #5a5560;
    width: 650px;
    height: 90%;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    position: absolute;
    top: 5%;
    left: 600px;
    box-shadow: 0 4px 15px 0 ;
    display: inline-table;
    font-size: 24px;
    text-align: left;
    border: 4px solid #FAED26;
    border-radius: 25px;
    padding: 15px;
    padding-right: 25px;
    /* width: 25%; */
    width: 750px;
    height: 550px;
    background-color: rgb(12, 12, 12);
    box-shadow: 0 4px 15px 0  #FAED26;
    z-index: 2;
    overflow: visible;
}

.input-label {
    width: max-content;
    margin: 5px;
    color: #FAED26;
}

.input-field {
    font-size: 15px;
}

#email-text {
    position: absolute;
    left: 20px;
}

#title {
    text-align: center;
    font-size: 40px;
    color: #FAED26;
}

.settings-btn {
    /* border: none;
    background-color: #FAED26;
    height: 60px;
    width: 100px;
    position: relative;
    top: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer; */
    /* color: #FAED26; */
    /* position: absolute; */
    padding: 10px;
    /* height: 40px; */
    /* width: 15%; */
    border-radius: 25px;
    border: 2px solid #FAED26;
    margin-inline: 5px;
    margin-top: -45px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    /* left: 42.25%; */
    /* box-shadow: 0 4px 15px 0  #FAED26; */
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: absolute;
    top: 550px;

}

.settings-btn:hover {
    transition: .5s;
    background-color: black;
    color: #FAED26;
}

#set-preferences {
    left: 480px;
}

#set-cancel {
    left: 610px;
}

#set-save {
    left: 700px;
}

#pass-btn {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: #FAED26;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#email-text {
    position: relative;
    left: 60px;
}

#pass-text {
    position: relative;
    top: 120px;
    left: 190px;
}

.settingsBtnContain {
    margin-top: -65px;
    margin-left: 120px;
}