

body{
  background-color: black;
}

.calendarWrapper {
  background-color: black;
  border-radius: 5px;
  padding: 15px;
  width: 1000px;
  margin: 0 auto;
}

.calendargrid {
  display: grid;
  grid-template-columns: 125px 125px 125px 125px 125px 125px 125px;
  grid-gap: 10px;
  background-color: black;
  color: #444;
  gap: 10px;
  margin: 0 auto;
  padding: 15px;
}

.title {
  font-size: 2em;
  font-weight: bold;
  display: block;
  color: #faed26;
}

.prevNext {
  font-size: 1em;
  display: block;
  font-weight: bold;
  color: #faed26;
  text-align: center;
}

.day,
.today,
.weekDay,
.dayOutsideMonth {
  border: 1px solid #faed26;
  text-align: right;
  vertical-align: top;
  border-radius: 5px;
  height: 165px;
  color: #faed26;
  padding: 5px;
}

.day {
  background-color: black;
}

.today {
  background-color: #5a5560;
  color: #faed26;
  font-weight: bold;
  border: 0;
}

.dayOutsideMonth {
  background-color: black;
  border: 1px solid #5a5560;
  
}

.weekDay {
  border: 1px solid #46344e;
  background-color: #5a5560;
  color: #faed26;
  font-size: 1.3em;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  border: 0;
}

.calendarTitle {
  border: 0px;
  text-align: center;
  vertical-align: middle;
  grid-column: 2 / 7;
  height: 100px;
  line-height: 100px;
}

.calendarPrevNext {
  border: 0px;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  line-height: 100px;
}

.eventList{
  list-style-type: none;
  font-size: small;
  text-align: left;
}

li {
  margin-bottom: 10px;
  text-overflow: ellipsis;
  max-width: 14ch;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

li:last-child {
 margin-bottom: 0px;
}

.fullday {
  margin: 0;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translate( -50%);
  background-color: #5a5560;
  color: #faed26;
  font-weight: bold;
  border: 1px solid #faed26;
  border-radius: 5px;
  /* width: 600px; */
  /* height: 80%; */
  padding: 20px;
}



.fullEventList{
  list-style-type: none;
  font-size: medium;
  text-align: left;
}

li.fullListItem {
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: unset;
  max-width: none;
}